:root {
  --bg-color: #f0f2f5;
  --container-bg: #ffffff;
  --text-primary: #333333;
  --text-secondary: #666666;
  --border-color: #dddddd;
  --accent-color: #5372ef;
  --accent-hover: #3b51a3;
}

body.dark-mode {
  --bg-color: #000000;
  --container-bg: #1e1e1e;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
  --border-color: #333333;
  --accent-color: #8ab4f8;
  --accent-hover: #aecbfa
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Sans-Serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--bg-color);
  transition: background 0.3s ease;
}

.container {
  width: 90%;
  max-width: 500px;
  padding: 25px;
  background: var(--container-bg);
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 20px;
}

.text-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  border: none;
  outline; none;
  resize: none;
  font-size: 18px;
  background: transparent;
  color: var(--text-primary);
  padding: 10px;
}

textarea: placeholder {
  color: var(--text-secondary);
}

.to-text {
  border-top: 2px solid var(--border-color);
  padding-top: 15px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.row select {
  padding: 8px 10px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  background: var(--container-bg);
  color: var(--text-primary);
  cursor: pointer;
}

#translate-btn {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  outline: none;
  border: none;
  background: var(--accent-color);
  color: #ffffff;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

#translate-btn:hover {
  background: var(--accent-hover);
}

#theme-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  left: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: none;
  background-color: var(--card-bg);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2)
  z-index: 9999;
}

#char-count {
  text-align: right;
  font-size: 12px;
  color: (--text-secondary);
  margin-top: 5px;
}

body.dark-mode #char-count {
  color: #ffffff;
}

.to-wrapper {
  position: relative;
}

#copy-btn {
  position: absolute;
  right: 0px;
  bottom: 100px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

#copy-btn:active {
  color: #0BDA51;
  transform: scale(0.9);
}

#copy-btn.success {
  background: #0BDA51;
}

body.dark-mode #copy-btn {
  color:var(--text-primary);
}

#copy-btn i {
  font-size: 24px;
}

body.dark-mode #copy-btn:hover {
  color: var(--accent-color);
}